$icomoon-font-path: "fonts" !default;

$maif-home: "\e900";
$maif-home2: "\e901";
$maif-home3: "\e902";
$maif-office: "\e903";
$maif-newspaper: "\e904";
$maif-pencil: "\e905";
$maif-pencil2: "\e906";
$maif-quill: "\e907";
$maif-pen: "\e908";
$maif-blog: "\e909";
$maif-eyedropper: "\e90a";
$maif-droplet: "\e90b";
$maif-paint-format: "\e90c";
$maif-image: "\e90d";
$maif-images: "\e90e";
$maif-camera: "\e90f";
$maif-headphones: "\e910";
$maif-music: "\e911";
$maif-play: "\e912";
$maif-film: "\e913";
$maif-video-camera: "\e914";
$maif-dice: "\e915";
$maif-pacman: "\e916";
$maif-spades: "\e917";
$maif-clubs: "\e918";
$maif-diamonds: "\e919";
$maif-bullhorn: "\e91a";
$maif-connection: "\e91b";
$maif-podcast: "\e91c";
$maif-feed: "\e91d";
$maif-mic: "\e91e";
$maif-book: "\e91f";
$maif-books: "\e920";
$maif-library: "\e921";
$maif-file-text: "\e922";
$maif-profile: "\e923";
$maif-file-empty: "\e924";
$maif-files-empty: "\e925";
$maif-file-text2: "\e926";
$maif-file-picture: "\e927";
$maif-file-music: "\e928";
$maif-file-play: "\e929";
$maif-file-video: "\e92a";
$maif-file-zip: "\e92b";
$maif-copy: "\e92c";
$maif-paste: "\e92d";
$maif-stack: "\e92e";
$maif-folder: "\e92f";
$maif-folder-open: "\e930";
$maif-folder-plus: "\e931";
$maif-folder-minus: "\e932";
$maif-folder-download: "\e933";
$maif-folder-upload: "\e934";
$maif-price-tag: "\e935";
$maif-price-tags: "\e936";
$maif-barcode: "\e937";
$maif-qrcode: "\e938";
$maif-ticket: "\e939";
$maif-cart: "\e93a";
$maif-coin-dollar: "\e93b";
$maif-coin-euro: "\e93c";
$maif-coin-pound: "\e93d";
$maif-coin-yen: "\e93e";
$maif-credit-card: "\e93f";
$maif-calculator: "\e940";
$maif-lifebuoy: "\e941";
$maif-phone: "\e942";
$maif-phone-hang-up: "\e943";
$maif-address-book: "\e944";
$maif-envelop: "\e945";
$maif-pushpin: "\e946";
$maif-location: "\e947";
$maif-location2: "\e948";
$maif-compass: "\e949";
$maif-compass2: "\e94a";
$maif-map: "\e94b";
$maif-map2: "\e94c";
$maif-history: "\e94d";
$maif-clock: "\e94e";
$maif-clock2: "\e94f";
$maif-alarm: "\e950";
$maif-bell: "\e951";
$maif-stopwatch: "\e952";
$maif-calendar: "\e953";
$maif-printer: "\e954";
$maif-keyboard: "\e955";
$maif-display: "\e956";
$maif-laptop: "\e957";
$maif-mobile: "\e958";
$maif-mobile2: "\e959";
$maif-tablet: "\e95a";
$maif-tv: "\e95b";
$maif-drawer: "\e95c";
$maif-drawer2: "\e95d";
$maif-box-add: "\e95e";
$maif-box-remove: "\e95f";
$maif-download: "\e960";
$maif-upload: "\e961";
$maif-floppy-disk: "\e962";
$maif-drive: "\e963";
$maif-database: "\e964";
$maif-undo: "\e965";
$maif-redo: "\e966";
$maif-undo2: "\e967";
$maif-redo2: "\e968";
$maif-forward: "\e969";
$maif-reply: "\e96a";
$maif-bubble: "\e96b";
$maif-bubbles: "\e96c";
$maif-bubbles2: "\e96d";
$maif-bubble2: "\e96e";
$maif-bubbles3: "\e96f";
$maif-bubbles4: "\e970";
$maif-user: "\e971";
$maif-users: "\e972";
$maif-user-plus: "\e973";
$maif-user-minus: "\e974";
$maif-user-check: "\e975";
$maif-user-tie: "\e976";
$maif-quotes-left: "\e977";
$maif-quotes-right: "\e978";
$maif-hour-glass: "\e979";
$maif-spinner: "\e97a";
$maif-spinner2: "\e97b";
$maif-spinner3: "\e97c";
$maif-spinner4: "\e97d";
$maif-spinner5: "\e97e";
$maif-spinner6: "\e97f";
$maif-spinner7: "\e980";
$maif-spinner8: "\e981";
$maif-spinner9: "\e982";
$maif-spinner10: "\e983";
$maif-spinner11: "\e984";
$maif-binoculars: "\e985";
$maif-search: "\e986";
$maif-zoom-in: "\e987";
$maif-zoom-out: "\e988";
$maif-enlarge: "\e989";
$maif-shrink: "\e98a";
$maif-enlarge2: "\e98b";
$maif-shrink2: "\e98c";
$maif-key: "\e98d";
$maif-key2: "\e98e";
$maif-lock: "\e98f";
$maif-unlocked: "\e990";
$maif-wrench: "\e991";
$maif-equalizer: "\e992";
$maif-equalizer2: "\e993";
$maif-cog: "\e994";
$maif-cogs: "\e995";
$maif-hammer: "\e996";
$maif-magic-wand: "\e997";
$maif-aid-kit: "\e998";
$maif-bug: "\e999";
$maif-pie-chart: "\e99a";
$maif-stats-dots: "\e99b";
$maif-stats-bars: "\e99c";
$maif-stats-bars2: "\e99d";
$maif-trophy: "\e99e";
$maif-gift: "\e99f";
$maif-glass: "\e9a0";
$maif-glass2: "\e9a1";
$maif-mug: "\e9a2";
$maif-spoon-knife: "\e9a3";
$maif-leaf: "\e9a4";
$maif-rocket: "\e9a5";
$maif-meter: "\e9a6";
$maif-meter2: "\e9a7";
$maif-hammer2: "\e9a8";
$maif-fire: "\e9a9";
$maif-lab: "\e9aa";
$maif-magnet: "\e9ab";
$maif-bin: "\e9ac";
$maif-bin2: "\e9ad";
$maif-briefcase: "\e9ae";
$maif-airplane: "\e9af";
$maif-truck: "\e9b0";
$maif-road: "\e9b1";
$maif-accessibility: "\e9b2";
$maif-target: "\e9b3";
$maif-shield: "\e9b4";
$maif-power: "\e9b5";
$maif-switch: "\e9b6";
$maif-power-cord: "\e9b7";
$maif-clipboard: "\e9b8";
$maif-list-numbered: "\e9b9";
$maif-list: "\e9ba";
$maif-list2: "\e9bb";
$maif-tree: "\e9bc";
$maif-menu: "\e9bd";
$maif-menu2: "\e9be";
$maif-menu3: "\e9bf";
$maif-menu4: "\e9c0";
$maif-cloud: "\e9c1";
$maif-cloud-download: "\e9c2";
$maif-cloud-upload: "\e9c3";
$maif-cloud-check: "\e9c4";
$maif-download2: "\e9c5";
$maif-upload2: "\e9c6";
$maif-download3: "\e9c7";
$maif-upload3: "\e9c8";
$maif-sphere: "\e9c9";
$maif-earth: "\e9ca";
$maif-link: "\e9cb";
$maif-flag: "\e9cc";
$maif-attachment: "\e9cd";
$maif-eye: "\e9ce";
$maif-eye-plus: "\e9cf";
$maif-eye-minus: "\e9d0";
$maif-eye-blocked: "\e9d1";
$maif-bookmark: "\e9d2";
$maif-bookmarks: "\e9d3";
$maif-sun: "\e9d4";
$maif-contrast: "\e9d5";
$maif-brightness-contrast: "\e9d6";
$maif-star-empty: "\e9d7";
$maif-star-half: "\e9d8";
$maif-star-full: "\e9d9";
$maif-heart: "\e9da";
$maif-heart-broken: "\e9db";
$maif-man: "\e9dc";
$maif-woman: "\e9dd";
$maif-man-woman: "\e9de";
$maif-happy: "\e9df";
$maif-happy2: "\e9e0";
$maif-smile: "\e9e1";
$maif-smile2: "\e9e2";
$maif-tongue: "\e9e3";
$maif-tongue2: "\e9e4";
$maif-sad: "\e9e5";
$maif-sad2: "\e9e6";
$maif-wink: "\e9e7";
$maif-wink2: "\e9e8";
$maif-grin: "\e9e9";
$maif-grin2: "\e9ea";
$maif-cool: "\e9eb";
$maif-cool2: "\e9ec";
$maif-angry: "\e9ed";
$maif-angry2: "\e9ee";
$maif-evil: "\e9ef";
$maif-evil2: "\e9f0";
$maif-shocked: "\e9f1";
$maif-shocked2: "\e9f2";
$maif-baffled: "\e9f3";
$maif-baffled2: "\e9f4";
$maif-confused: "\e9f5";
$maif-confused2: "\e9f6";
$maif-neutral: "\e9f7";
$maif-neutral2: "\e9f8";
$maif-hipster: "\e9f9";
$maif-hipster2: "\e9fa";
$maif-wondering: "\e9fb";
$maif-wondering2: "\e9fc";
$maif-sleepy: "\e9fd";
$maif-sleepy2: "\e9fe";
$maif-frustrated: "\e9ff";
$maif-frustrated2: "\ea00";
$maif-crying: "\ea01";
$maif-crying2: "\ea02";
$maif-point-up: "\ea03";
$maif-point-right: "\ea04";
$maif-point-down: "\ea05";
$maif-point-left: "\ea06";
$maif-warning: "\ea07";
$maif-notification: "\ea08";
$maif-question: "\ea09";
$maif-plus: "\ea0a";
$maif-minus: "\ea0b";
$maif-info: "\ea0c";
$maif-cancel-circle: "\ea0d";
$maif-blocked: "\ea0e";
$maif-cross: "\ea0f";
$maif-checkmark: "\ea10";
$maif-checkmark2: "\ea11";
$maif-spell-check: "\ea12";
$maif-enter: "\ea13";
$maif-exit: "\ea14";
$maif-play2: "\ea15";
$maif-pause: "\ea16";
$maif-stop: "\ea17";
$maif-previous: "\ea18";
$maif-next: "\ea19";
$maif-backward: "\ea1a";
$maif-forward2: "\ea1b";
$maif-play3: "\ea1c";
$maif-pause2: "\ea1d";
$maif-stop2: "\ea1e";
$maif-backward2: "\ea1f";
$maif-forward3: "\ea20";
$maif-first: "\ea21";
$maif-last: "\ea22";
$maif-previous2: "\ea23";
$maif-next2: "\ea24";
$maif-eject: "\ea25";
$maif-volume-high: "\ea26";
$maif-volume-medium: "\ea27";
$maif-volume-low: "\ea28";
$maif-volume-mute: "\ea29";
$maif-volume-mute2: "\ea2a";
$maif-volume-increase: "\ea2b";
$maif-volume-decrease: "\ea2c";
$maif-loop: "\ea2d";
$maif-loop2: "\ea2e";
$maif-infinite: "\ea2f";
$maif-shuffle: "\ea30";
$maif-arrow-up-left: "\ea31";
$maif-arrow-up: "\ea32";
$maif-arrow-up-right: "\ea33";
$maif-arrow-right: "\ea34";
$maif-arrow-down-right: "\ea35";
$maif-arrow-down: "\ea36";
$maif-arrow-down-left: "\ea37";
$maif-arrow-left: "\ea38";
$maif-arrow-up-left2: "\ea39";
$maif-arrow-up2: "\ea3a";
$maif-arrow-up-right2: "\ea3b";
$maif-arrow-right2: "\ea3c";
$maif-arrow-down-right2: "\ea3d";
$maif-arrow-down2: "\ea3e";
$maif-arrow-down-left2: "\ea3f";
$maif-arrow-left2: "\ea40";
$maif-circle-up: "\ea41";
$maif-circle-right: "\ea42";
$maif-circle-down: "\ea43";
$maif-circle-left: "\ea44";
$maif-tab: "\ea45";
$maif-move-up: "\ea46";
$maif-move-down: "\ea47";
$maif-sort-alpha-asc: "\ea48";
$maif-sort-alpha-desc: "\ea49";
$maif-sort-numeric-asc: "\ea4a";
$maif-sort-numberic-desc: "\ea4b";
$maif-sort-amount-asc: "\ea4c";
$maif-sort-amount-desc: "\ea4d";
$maif-command: "\ea4e";
$maif-shift: "\ea4f";
$maif-ctrl: "\ea50";
$maif-opt: "\ea51";
$maif-checkbox-checked: "\ea52";
$maif-checkbox-unchecked: "\ea53";
$maif-radio-checked: "\ea54";
$maif-radio-checked2: "\ea55";
$maif-radio-unchecked: "\ea56";
$maif-crop: "\ea57";
$maif-make-group: "\ea58";
$maif-ungroup: "\ea59";
$maif-scissors: "\ea5a";
$maif-filter: "\ea5b";
$maif-font: "\ea5c";
$maif-ligature: "\ea5d";
$maif-ligature2: "\ea5e";
$maif-text-height: "\ea5f";
$maif-text-width: "\ea60";
$maif-font-size: "\ea61";
$maif-bold: "\ea62";
$maif-underline: "\ea63";
$maif-italic: "\ea64";
$maif-strikethrough: "\ea65";
$maif-omega: "\ea66";
$maif-sigma: "\ea67";
$maif-page-break: "\ea68";
$maif-superscript: "\ea69";
$maif-subscript: "\ea6a";
$maif-superscript2: "\ea6b";
$maif-subscript2: "\ea6c";
$maif-text-color: "\ea6d";
$maif-pagebreak: "\ea6e";
$maif-clear-formatting: "\ea6f";
$maif-table: "\ea70";
$maif-table2: "\ea71";
$maif-insert-template: "\ea72";
$maif-pilcrow: "\ea73";
$maif-ltr: "\ea74";
$maif-rtl: "\ea75";
$maif-section: "\ea76";
$maif-paragraph-left: "\ea77";
$maif-paragraph-center: "\ea78";
$maif-paragraph-right: "\ea79";
$maif-paragraph-justify: "\ea7a";
$maif-indent-increase: "\ea7b";
$maif-indent-decrease: "\ea7c";
$maif-share: "\ea7d";
$maif-new-tab: "\ea7e";
$maif-embed: "\ea7f";
$maif-embed2: "\ea80";
$maif-terminal: "\ea81";
$maif-share2: "\ea82";
$maif-mail: "\ea83";
$maif-mail2: "\ea84";
$maif-mail3: "\ea85";
$maif-mail4: "\ea86";
$maif-amazon: "\ea87";
$maif-google: "\ea88";
$maif-google2: "\ea89";
$maif-google3: "\ea8a";
$maif-google-plus: "\ea8b";
$maif-google-plus2: "\ea8c";
$maif-google-plus3: "\ea8d";
$maif-hangouts: "\ea8e";
$maif-google-drive: "\ea8f";
$maif-facebook: "\ea90";
$maif-facebook2: "\ea91";
$maif-instagram: "\ea92";
$maif-whatsapp: "\ea93";
$maif-spotify: "\ea94";
$maif-telegram: "\ea95";
$maif-twitter: "\ea96";
$maif-vine: "\ea97";
$maif-vk: "\ea98";
$maif-renren: "\ea99";
$maif-sina-weibo: "\ea9a";
$maif-rss: "\ea9b";
$maif-rss2: "\ea9c";
$maif-youtube: "\ea9d";
$maif-youtube2: "\ea9e";
$maif-twitch: "\ea9f";
$maif-vimeo: "\eaa0";
$maif-vimeo2: "\eaa1";
$maif-lanyrd: "\eaa2";
$maif-flickr: "\eaa3";
$maif-flickr2: "\eaa4";
$maif-flickr3: "\eaa5";
$maif-flickr4: "\eaa6";
$maif-dribbble: "\eaa7";
$maif-behance: "\eaa8";
$maif-behance2: "\eaa9";
$maif-deviantart: "\eaaa";
$maif-500px: "\eaab";
$maif-steam: "\eaac";
$maif-steam2: "\eaad";
$maif-dropbox: "\eaae";
$maif-onedrive: "\eaaf";
$maif-github: "\eab0";
$maif-npm: "\eab1";
$maif-basecamp: "\eab2";
$maif-trello: "\eab3";
$maif-wordpress: "\eab4";
$maif-joomla: "\eab5";
$maif-ello: "\eab6";
$maif-blogger: "\eab7";
$maif-blogger2: "\eab8";
$maif-tumblr: "\eab9";
$maif-tumblr2: "\eaba";
$maif-yahoo: "\eabb";
$maif-yahoo2: "\eabc";
$maif-tux: "\eabd";
$maif-appleinc: "\eabe";
$maif-finder: "\eabf";
$maif-android: "\eac0";
$maif-windows: "\eac1";
$maif-windows8: "\eac2";
$maif-soundcloud: "\eac3";
$maif-soundcloud2: "\eac4";
$maif-skype: "\eac5";
$maif-reddit: "\eac6";
$maif-hackernews: "\eac7";
$maif-wikipedia: "\eac8";
$maif-linkedin: "\eac9";
$maif-linkedin2: "\eaca";
$maif-lastfm: "\eacb";
$maif-lastfm2: "\eacc";
$maif-delicious: "\eacd";
$maif-stumbleupon: "\eace";
$maif-stumbleupon2: "\eacf";
$maif-stackoverflow: "\ead0";
$maif-pinterest: "\ead1";
$maif-pinterest2: "\ead2";
$maif-xing: "\ead3";
$maif-xing2: "\ead4";
$maif-flattr: "\ead5";
$maif-foursquare: "\ead6";
$maif-yelp: "\ead7";
$maif-paypal: "\ead8";
$maif-chrome: "\ead9";
$maif-firefox: "\eada";
$maif-IE: "\eadb";
$maif-edge: "\eadc";
$maif-safari: "\eadd";
$maif-opera: "\eade";
$maif-file-pdf: "\eadf";
$maif-file-openoffice: "\eae0";
$maif-file-word: "\eae1";
$maif-file-excel: "\eae2";
$maif-libreoffice: "\eae3";
$maif-html-five: "\eae4";
$maif-html-five2: "\eae5";
$maif-css3: "\eae6";
$maif-git: "\eae7";
$maif-codepen: "\eae8";
$maif-svg: "\eae9";
$maif-IcoMoon: "\eaea";

